
2.1 DZ Bardin.playground/playground.xcworkspace/contents.xcworkspacedata
2.1 DZ Bardin.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
2.1 DZ Bardin.playground/playground.xcworkspace/xcuserdata/bardincom.xcuserdatad/UserInterfaceState.xcuserstate
2.2 DZ Bardin.playground/timeline.xctimeline
2.2 DZ Bardin.playground/contents.xcplayground
2.2 DZ Bardin.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
2.2 DZ Bardin.playground/playground.xcworkspace/xcuserdata/bardincom.xcuserdatad/UserInterfaceState.xcuserstate
2.2 DZ Bardin.playground/playground.xcworkspace/contents.xcworkspacedata
2.3 DZ Bardin.playground/timeline.xctimeline
2.3 DZ Bardin.playground/contents.xcplayground
2.3 DZ Bardin.playground/playground.xcworkspace/contents.xcworkspacedata
2.3 DZ Bardin.playground/playground.xcworkspace/xcuserdata/bardincom.xcuserdatad/UserInterfaceState.xcuserstate
2.3 DZ Bardin.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
3.1 DZ Bardin.playground/contents.xcplayground
3.1 DZ Bardin.playground/timeline.xctimeline
3.1 DZ Bardin.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
3.1 DZ Bardin.playground/playground.xcworkspace/xcuserdata/bardincom.xcuserdatad/UserInterfaceState.xcuserstate
3.1 DZ Bardin.playground/playground.xcworkspace/contents.xcworkspacedata
3.2 DZ Bardin.playground/contents.xcplayground
Icon

.DS_Store
Icon

3.2 DZ Bardin.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
3.2 DZ Bardin.playground/playground.xcworkspace/xcuserdata/bardincom.xcuserdatad/UserInterfaceState.xcuserstate
3.2 DZ Bardin.playground/playground.xcworkspace/contents.xcworkspacedata
4.1 DZ Bardin.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
4.1 DZ Bardin.playground/playground.xcworkspace/xcuserdata/bardincom.xcuserdatad/UserInterfaceState.xcuserstate
4.1 DZ Bardin.playground/playground.xcworkspace/contents.xcworkspacedata
4.1 DZ Bardin.playground/contents.xcplayground
4.2 DZ Bardin.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
4.2 DZ Bardin.playground/playground.xcworkspace/xcuserdata/bardincom.xcuserdatad/UserInterfaceState.xcuserstate
4.2 DZ Bardin.playground/playground.xcworkspace/contents.xcworkspacedata
4.2 DZ Bardin.playground/contents.xcplayground
4.3 DZ Bardin.playground/contents.xcplayground
4.3 DZ Bardin.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
4.3 DZ Bardin.playground/playground.xcworkspace/xcuserdata/bardincom.xcuserdatad/UserInterfaceState.xcuserstate
4.3 DZ Bardin.playground/playground.xcworkspace/contents.xcworkspacedata
